Repository astaykov/openhack-devops-team, changes with the owners that CODEOWNERS names for each.
All owners: @Erdemg, @alschroe, @astaykov, @shirihhh

non breaking change on master /user-java
  apis/user-java/src/main/java/io/swagger/api/ApiException.java
Owners: @astaykov

this change will break tests.
  apis/user-java/src/main/java/io/swagger/api/ApiException.java
  apis/user-java/src/test/java/UserApiControllerTest.java
Owners: @astaykov

fix all should have deployment
  apis/user-java/src/test/java/UserApiControllerTest.java
Owners: @astaykov

changing readme
  CHANGELOG.md
Owners: none

single blank line ....
  apis/user-java/src/main/java/io/swagger/api/ApiException.java
Owners: @astaykov

small change
  apis/trips/README.md
Owners: @alschroe

Update README.md
  apis/poi/README.md
Owners: @Erdemg

Update README.md
  apis/poi/README.md
Owners: @Erdemg

changing golang version to 1.13 for the container
  apis/trips/Dockerfile
Owners: @alschroe

Update README.md
  apis/userprofile/README.md
Owners: @shirihhh

small change
  apis/trips/README.md
Owners: @alschroe

Update README.md
  apis/poi/README.md
Owners: @Erdemg

inlcuing polling script
  Utils/Polling.ps1
Owners: none

changing readm
  apis/user-java/README.md
Owners: @astaykov

small change
  apis/trips/README.md
Owners: @alschroe

update polling powershell
  Utils/Polling.ps1
Owners: none

small change
  apis/trips/README.md
Owners: @alschroe

full ci/cd pipeline for User-Java
  apis/user-java/README.md
Owners: @astaykov

small change
  apis/trips/README.md
Owners: @alschroe

small change
  apis/trips/README.md
Owners: @alschroe

Update README.md
  apis/poi/README.md
Owners: @Erdemg

pushing not healthy container
  apis/user-java/src/main/java/io/swagger/api/HealthcheckApiController.java
Owners: @astaykov

fix
  apis/user-java/src/main/java/io/swagger/api/HealthcheckApiController.java
Owners: @astaykov

Update README.md
  apis/poi/README.md
Owners: @Erdemg

Create codeql-analysis.yml
  .github/workflows/codeql-analysis.yml
Owners: none

small change
  apis/trips/README.md
Owners: @alschroe

small change
  apis/trips/tests/healthroute_test.go
  apis/user-java/src/main/java/io/swagger/api/HealthcheckApiController.java
Owners: @alschroe, @astaykov

small change
  apis/trips/tests/healthroute_test.go
  apis/user-java/src/main/java/io/swagger/api/HealthcheckApiController.java
Owners: @alschroe, @astaykov

small change
  apis/trips/tripsgo/healthCheckService.go
Owners: @alschroe

small change
  apis/trips/tests/healthroute_test.go
Owners: @alschroe

braking health
  apis/trips/tripsgo/healthCheckService.go
Owners: @alschroe

buah
  apis/trips/tripsgo/healthCheckService.go
Owners: @alschroe

CODEOWNERS:

# Defining code owners for the APIs
/apis/poi/ @Erdemg
/apis/trips/ @alschroe
/apis/user-java/ @astaykov
/apis/userprofile/ @shirihhh
