Repository astaykov/openhack-devops-team, changes with the owners that CODEOWNERS names for each.
All owners: @Erdemg, @alschroe, @astaykov, @shirihhh

CODEOWNERS:

# Defining code owners for the APIs
/apis/poi/ @Erdemg
/apis/trips/ @alschroe
/apis/user-java/ @astaykov
/apis/userprofile/ @shirihhh

Update main.yml
  .github/workflows/main.yml
Owners: none

fixing tests
  apis/user-java/src/test/java/UserApiControllerTest.java
Owners: @astaykov

Update main.yml
  .github/workflows/main.yml
Owners: none

Update main.yml
  .github/workflows/main.yml
Owners: none

Update azure-pipelines.yml for Azure Pipelines
  azure-pipelines.yml
Owners: none

Update azure-pipelines.yml for Azure Pipelines
  azure-pipelines.yml
Owners: none

breaking tests
  apis/user-java/src/test/java/UserApiControllerTest.java
Owners: @astaykov

Update main.yml
  .github/workflows/main.yml
Owners: none

Update main.yml
  .github/workflows/main.yml
Owners: none

Update azure-pipelines.yml for Azure Pipelines
  azure-pipelines.yml
Owners: none

Update azure-pipelines.yml for Azure Pipelines
  azure-pipelines.yml
Owners: none

Update main.yml
  .github/workflows/main.yml
Owners: none

Create main.yml
  .github/workflows/main.yml
Owners: none

Update main.yml
  .github/workflows/main.yml
Owners: none

Update main.yml
  .github/workflows/main.yml
Owners: none

Update main.yml
  .github/workflows/main.yml
Owners: none

added syntax to use further options
  azure-pipelines.yml
Owners: none

fixting
  apis/user-java/src/test/java/UserApiControllerTest.java
  azure-pipelines.yml
Owners: @astaykov

Update main.yml
  .github/workflows/main.yml
Owners: none

Update main.yml
  .github/workflows/main.yml
Owners: none

Update main.yml
  .github/workflows/main.yml
Owners: none

Update main.yml
  .github/workflows/main.yml
Owners: none

Update healthroute_test.go
  apis/trips/tests/healthroute_test.go
Owners: @alschroe

Update healthroute_test.go
  apis/trips/tests/healthroute_test.go
Owners: @alschroe

Update main.yml
  .github/workflows/main.yml
Owners: none

Update main.yml
  .github/workflows/main.yml
Owners: none

Set up CI with Azure Pipelines
  azure-pipelines.yml
Owners: none

Update azure-pipelines.yml for Azure Pipelines
  azure-pipelines.yml
Owners: none

Update azure-pipelines.yml for Azure Pipelines
  azure-pipelines.yml
Owners: none

Update azure-pipelines.yml for Azure Pipelines
  azure-pipelines.yml
Owners: none

Set up CI with Azure Pipelines
  azure-pipelines.yml
Owners: none

Set up CI with Azure Pipelines
  azure-pipelines-1.yml
Owners: none

Update azure-pipelines-1.yml for Azure Pipelines
  azure-pipelines-1.yml
Owners: none

Update azure-pipelines.yml for Azure Pipelines
  azure-pipelines.yml
Owners: none

Update azure-pipelines.yml for Azure Pipelines
  azure-pipelines.yml
Owners: none

Update azure-pipelines.yml for Azure Pipelines
  azure-pipelines.yml
Owners: none

Update azure-pipelines.yml for Azure Pipelines
  azure-pipelines.yml
Owners: none

Update azure-pipelines-1.yml for Azure Pipelines
  azure-pipelines-1.yml
Owners: none

Update azure-pipelines.yml for Azure Pipelines
  azure-pipelines.yml
Owners: none

Update azure-pipelines.yml for Azure Pipelines
  azure-pipelines.yml
Owners: none
