Repository astaykov/openhack-devops-team, changes with the owners that CODEOWNERS names for each.
All owners: @Erdemg, @alschroe, @astaykov, @shirihhh

CODEOWNERS:

# Defining code owners for the APIs
/apis/poi/ @Erdemg
/apis/trips/ @alschroe
/apis/user-java/ @astaykov
/apis/userprofile/ @shirihhh

Create main.yml
  .github/workflows/main.yml
Owners: none

Update main.yml
  .github/workflows/main.yml
Owners: none

Update main.yml
  .github/workflows/main.yml
Owners: none

Update main.yml
  .github/workflows/main.yml
Owners: none

Update main.yml
  .github/workflows/main.yml
Owners: none

Update healthroute_test.go
  apis/trips/tests/healthroute_test.go
Owners: @alschroe

Update healthroute_test.go
  apis/trips/tests/healthroute_test.go
Owners: @alschroe

Update main.yml
  .github/workflows/main.yml
Owners: none

Update main.yml
  .github/workflows/main.yml
Owners: none

Update main.yml
  .github/workflows/main.yml
Owners: none

Update main.yml
  .github/workflows/main.yml
Owners: none

Update main.yml
  .github/workflows/main.yml
Owners: none

Update healthroute_test.go
  apis/trips/tests/healthroute_test.go
Owners: @alschroe

Set up CI with Azure Pipelines
  azure-pipelines.yml
Owners: none

Update main.yml
  .github/workflows/main.yml
Owners: none

Set up CI with Azure Pipelines
  azure-pipelines.yml
Owners: none

Update main.yml
  .github/workflows/main.yml
Owners: none

Update main.yml
  .github/workflows/main.yml
Owners: none

Update azure-pipelines.yml for Azure Pipelines
  azure-pipelines.yml
Owners: none

Update main.yml
  .github/workflows/main.yml
Owners: none

changed / to -
  azure-pipelines.yml
Owners: none

Update README.md
  README.md
Owners: none

Update main.yml
  .github/workflows/main.yml
Owners: none

Update README.md
  README.md
Owners: none

Update main.yml
  .github/workflows/main.yml
Owners: none

Automatic Tests on User-Java API Changes / CI
  azure-pipelines.yml
Owners: none

Update README.md
  README.md
Owners: none

make test fail
  apis/user-java/src/test/java/UserApiControllerTest.java
Owners: @astaykov

Update main.yml
  .github/workflows/main.yml
Owners: none

Update main.yml
  .github/workflows/main.yml
Owners: none

Update main.yml
  .github/workflows/main.yml
Owners: none

Update main.yml
  .github/workflows/main.yml
Owners: none

Update azure-pipelines.yml for Azure Pipelines
  azure-pipelines.yml
Owners: none

Update main.yml
  .github/workflows/main.yml
Owners: none

Update main.yml
  .github/workflows/main.yml
Owners: none

Update azure-pipelines.yml for Azure Pipelines
  azure-pipelines.yml
Owners: none

Update main.yml
  .github/workflows/main.yml
Owners: none

Update main.yml
  .github/workflows/main.yml
Owners: none

Update main.yml
  .github/workflows/main.yml
Owners: none

Update azure-pipelines.yml for Azure Pipelines
  azure-pipelines.yml
Owners: none
